In [1]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
df_solar = pd.read_csv('SolarSummaries.csv')
df_solar[:3]

,ZIP,State,Annual Average (kWh/m2/day),Annual Average Minimum (kWh/m2/day),Annual Average Maximum (kWh/m2/day),Annual Average Standard Deviation (kWh/m2/day),Annual Average Median (kWh/m2/day),January Average (kWh/m2/day),January Average Minimum (kWh/m2/day),January Average Maximum (kWh/m2/day),...,November Average (kWh/m2/day),November Average Minimum (kWh/m2/day),November Average Maximum (kWh/m2/day),November Average Standard Deviation (kWh/m2/day),November Average Median (kWh/m2/day),December Average (kWh/m2/day),December Average Minimum (kWh/m2/day),December Average Maximum (kWh/m2/day),December Average Standard Deviation (kWh/m2/day),December Average Median (kWh/m2/day)
0,1001,MA,4.50,4.48,4.52,0.02,4.50,3.49,3.31,3.58,...,3.18,3.17,3.19,0.01,3.17,3.19,3.16,3.24,0.04,3.16
1,1002,MA,4.43,4.38,4.49,0.04,4.44,3.42,3.09,3.76,...,3.10,3.05,3.12,0.02,3.11,3.00,2.81,3.15,0.10,3.01
2,1003,MA,4.38,4.38,4.38,0.00,4.38,3.17,3.17,3.17,...,3.11,3.11,3.11,0.00,3.11,2.81,2.81,2.81,0.00,2.81

In [3]:
df_sun = df_solar[['ZIP', 'State','Annual Average Minimum (kWh/m2/day)']]
df_sun.columns = ['ZIP','State','Sun']
df_sun['ZIP'] = df_sun['ZIP'].apply(lambda x: str(x).zfill(5))
df_sun[:3]

     ZIP State   Sun
0  01001    MA  4.48
1  01002    MA  4.38
2  01003    MA  4.38

In [4]:
df_census = pd.read_csv('ACS_13_5YR_DP04_with_ann.csv',skiprows=1,low_memory = False)
df_census[:3]

,Id,Id2,Geography,Estimate; HOUSING OCCUPANCY - Total housing units,Margin of Error; HOUSING OCCUPANCY - Total housing units,Percent; HOUSING OCCUPANCY - Total housing units,Percent Margin of Error; HOUSING OCCUPANCY - Total housing units,Estimate; HOUSING OCCUPANCY - Total housing units - Occupied housing units,Margin of Error; HOUSING OCCUPANCY - Total housing units - Occupied housing units,Percent; HOUSING OCCUPANCY - Total housing units - Occupied housing units,...,Percent; GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI) - Occupied units paying rent (excluding units where GRAPI cannot be computed) - 30.0 to 34.9 percent,Percent Margin of Error; GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI) - Occupied units paying rent (excluding units where GRAPI cannot be computed) - 30.0 to 34.9 percent,Estimate; GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI) - Occupied units paying rent (excluding units where GRAPI cannot be computed) - 35.0 percent or more,Margin of Error; GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI) - Occupied units paying rent (excluding units where GRAPI cannot be computed) - 35.0 percent or more,Percent; GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI) - Occupied units paying rent (excluding units where GRAPI cannot be computed) - 35.0 percent or more,Percent Margin of Error; GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI) - Occupied units paying rent (excluding units where GRAPI cannot be computed) - 35.0 percent or more,Estimate; GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI) - Not computed,Margin of Error; GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI) - Not computed,Percent; GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI) - Not computed,Percent Margin of Error; GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI) - Not computed
0,8600000US00601,601,ZCTA5 00601,7016,165,7016,(X),5780,213,82.4,...,10.7,5.9,507,117,50.4,7.6,1172,186,(X),(X)
1,8600000US00602,602,ZCTA5 00602,16558,202,16558,(X),13133,334,79.3,...,11.9,6.1,556,157,42.6,9.5,1574,266,(X),(X)
2,8600000US00603,603,ZCTA5 00603,23738,358,23738,(X),17594,459,74.1,...,6.5,2.6,1837,249,50.9,4.9,2557,326,(X),(X)

In [5]:
df_housing = df_census[['Id2','Estimate; HOUSING OCCUPANCY - Total housing units']]
df_housing.columns = ['ZIP','Units']
df_housing['ZIP'] = df_housing['ZIP'].apply(lambda x: str(x).zfill(5))
df_housing[:3]

     ZIP  Units
0  00601   7016
1  00602  16558
2  00603  23738

In [6]:
df_byzip = df_sun.merge(df_housing)
df_byzip[:5]

     ZIP State   Sun  Units
0  01001    MA  4.48   7398
1  01002    MA  4.38  10076
2  01003    MA  4.38     16
3  01005    MA  4.36   2235
4  01007    MA  4.42   5891

In [8]:
print 'max sun value is ' + str(df_byzip['Sun'].max()) + '; min ' + str(df_byzip['Sun'].min()) + '; mean ' + str(df_byzip['Sun'].mean())
print 'max units/ZIP is ' + str(df_byzip['Units'].max()) + '; min ' + str(df_byzip['Units'].min()) + '; mean ' + str(df_byzip['Units'].mean())

max sun value is 6.98; min 3.11; mean 4.86839978241
max units/ZIP is 47503; min 0; mean 4199.08450929

In [42]:
# capacity is in gigawatts
df_capacity = pd.read_csv('state_capacity_80pct_RE_ETI.csv')
df_capacity[:]

In [10]:
# generation is in gigawatt-hours
df_generation = pd.read_csv('state_generation_80pct_RE_ETI.csv')
df_generation[:3]

,state,scenario,year,hydro,gas_ct,gas_cc,coal,nuclear,geothermal,biomass,rooftop_pv,utility_pv,csp,onshore_wind,offshore_wind,load
0,Alabama,25,2010,9299939.56,82196.38,25408830.21,47111956.00,39588360.19,0,0.00,217.45,0,0,0.0,0,91689465.24
1,Arizona,25,2010,8141185.44,548578.05,66991677.31,39737567.52,30631968.00,0,42709.78,19022.01,0,0,166215.3,0,82847554.05
2,Arkansas,25,2010,3122326.67,8834.76,4034309.69,7854884.40,14497814.02,0,29463.03,0.00,0,0,0.0,0,40448716.16

In [11]:
# don't feel like typing out the US state abbreviations
df_states= pd.read_csv('state_table.csv')
df_states[:3]

,id,name,abbreviation,country,type,sort,status,occupied,notes,fips_state,assoc_press,standard_federal_region,census_region,census_region_name,census_division,census_division_name,circuit_court
0,1,Alabama,AL,USA,state,10,current,occupied,NaN,1,Ala.,IV,3,South,6,East South Central,11
1,2,Alaska,AK,USA,state,10,current,occupied,NaN,2,Alaska,X,4,West,9,Pacific,9
2,3,Arizona,AZ,USA,state,10,current,occupied,NaN,4,Ariz.,IX,4,West,8,Mountain,9

In [12]:
df_states = df_states[['name','abbreviation']]
df_states.columns = ['state', 'State']
df_states[:3]

     state State
0  Alabama    AL
1   Alaska    AK
2  Arizona    AZ

In [54]:
df_capacity = df_capacity.merge(df_states)[['State','year','rooftop_pv']]
df_capacity[:3]

  State  year  rooftop_pv
0    AL  2010        0.19
1    AL  2012        0.19
2    AL  2014        0.21

In [57]:
df_capacity_2050 = df_capacity[df_capacity.year==2050]
df_capacity_2050[:4]

   State  year  rooftop_pv
20    AL  2050      372.52
41    AZ  2050     6709.09
62    AR  2050      117.72
83    CA  2050    19778.03

In [40]:
# unit_capacity = 0.010 # gigawatt-hours
# df_generation['units_needed'] = df_generation['rooftop_pv'] / unit_capacity # units_needed = state_capacity / unit_capacity
# df_generation['units_fraction'] = df_generation['units_needed'] / # units_fraction = units_needed / units_state
# calculating unit_capacity:
# 1.5 * 6000 / 250 → 6kW, a big home solar system in CA → 36 m^2

unit_capacity = df_byzip['Sun'].mean()*365*.15*30/1000 # in MW-hour per year
print 'a large home solar system will produce ' + str(unit_capacity) + ' MW-hours per year'

a large home solar system will produce 7.99634664261 MW-hours per year

In [61]:
df_capacity_2050['num_systems'] = df_capacity_2050['rooftop_pv']*1e6/5e3
df_capacity_2050[:5]

    State  year  rooftop_pv  num_systems
20     AL  2050      372.52        74504
41     AZ  2050     6709.09      1341818
62     AR  2050      117.72        23544
83     CA  2050    19778.03      3955606
104    CO  2050     3411.34       682268

In [66]:
df_housing = df_census[['Id2','Estimate; UNITS IN STRUCTURE - Total housing units - 1-unit, detached']]
df_housing.columns = ['ZIP','Units']
df_housing['ZIP'] = df_housing['ZIP'].apply(lambda x: str(x).zfill(5))
df_housing[:3]

In [34]:
# need to sum up units per state as well
print 'number of units in Alaska: ' + str(df_byzip[df_byzip.State == 'AL']['Units'].sum())
units_state = {}
for state in df_byzip.State.drop_duplicates().tolist():
    units_state[state] = df_byzip[df_byzip.State == state]['Units'].sum()
units_state.items()[:5]

number of units in Alaska: 2174614

[('WA', 2893096),
 ('DE', 407834),
 ('DC', 298327),
 ('WI', 2623739),
 ('WV', 869738)]